name: PDF Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and populate cache
        uses: docker/build-push-action@v5
        with:
          context: .devcontainer
          tags: latex-thesis:latest
          load: true
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Make compile script executable
        run: chmod +x compile.sh

      - name: Run compilation script
        run: SKIP_BUILD=true ./compile.sh

      - name: Upload PDF Artifact
        if: success()
        uses: actions/upload-artifact@v4
        with:
          name: thesis-pdf
          path: output/thesis-en.pdf
          retention-days: 30
